<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay" style="background-image: url('assets/img/bg-img/bg-1.jpg');">
        <div class="container">
            <div class="row">

                <div class="col-12 col-sm-12 col-xl-12">
                    <div class="footer-widget text-center">
                        <div class="widget-title col-xl-12" style="text-align: center" >
                            <h6>Contact Us</h6>
                        </div>
                        <div class="row" id="contact">
                            <!-- Single Contact Area -->
                            <div class="single-contact-area col-lg-3 col-md-12 col-sm-12 ">
                                <p>Address:</p>
                                <span>2000 Shutterlee Mill Road <br>Staunton, VA 24401 </span>
                            </div>

                            <!-- Single Contact Area -->
                            <div class="single-contact-area col-lg-3 col-md-12 col-sm-12">
                                <p>Phone:</p>
                                <span>(540) 886-2317</span>
                            </div>

                            <!-- Single Contact Area -->
                            <div class="single-contact-area col-lg-3 col-md-12 col-sm-12">
                                <p>Email:</p>
                                <span>stpaulumc2@gmail.com</span>
                            </div>
                            <!-- Single Contact Area -->
                            <div class="single-contact-area col-lg-3 col-md-12 col-sm-12">
                                <p>Office Hours:</p>
                                <span>Monday - Friday (8am - 1pm)</span>
                            </div>

                            <!-- Single Contact Area -->
                            <div class="single-contact-area col col-lg-3 col-md-12 col-sm-12">
                                <p>Socail Media:</p>
                                <div class="footer-social-info">
                                    <!--<a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>-->
                                    <a href="https://www.facebook.com/stpaulsumcstaunton/" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/st.paulsyouth/?hl=en"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="col col-lg-1">

                            </div>
                            <div class="col-lg-4 text-center col-lg-offset-1">
                                <div>
                                    <a href="https://www.google.com/maps/place/2000+Shutterlee+Mill+Rd,+Staunton,+VA+24401/@38.186648,-79.084861,14z/data=!4m5!3m4!1s0x89b4a11e88e0d057:0x78d9f6479d97d697!8m2!3d38.186648!4d-79.084861?hl=en" target="_blank">
                                        <img src="../../assets/img/map.png" alt="St Paul's Address">
                                    </a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>


