<div class="breadcumb-area bg-img" style="background-image: url(../../assets/img/ryan1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h2>Sermons</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=420275702288338&autoLogAppEvents=1" nonce="ukyKHrug"></script>
<div class="container">
    <div class="row">

        <div class="col-12 col-md-12 col-sm-12" style="margin-top:10px">
          <app-yt-videos></app-yt-videos>
        </div>

        <div class="col-6 col-md-6 col-sm-12" style="margin-top:10px">

          <div class="fb-page text-center" data-href="https://www.facebook.com/stpaulsumcstaunton/videos/" data-tabs="timeline,events,videos" data-width="800" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/stpaulsumcstaunton/videos/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/stpaulsumcstaunton/videos/">St. Paul&#039;s United Methodist Church</a></blockquote></div>
      </div>
        </div>
</div>
