<style>
    .bulletList {
        list-style: circle;
        padding: 5px;
        margin-left: 15px;
    }
</style>
<div class="breadcumb-area bg-img" style="background-image: url('../../../assets/img/serve.jpeg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h2>Serve</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-12 single-ministry mb-100">
                <div class="">
                    <h3>What does it mean to SERVE at St. Paul’s?</h3>
                    <p>
                        <strong>SERVE</strong>ing at St. Paul’s is a way for both individuals and groups… teams, really… to plan, fund and work joyfully together to both take Christ’s love and care into our local community, and make the most of everyone’s giftsof time and treasure.  We hope to make God’s love and Christ’s passion obvious to others in ways that can be seen, felt, tasted, experienced and known through works.  We strive continually to live out the Scripture as found in Mark 10:45: “For the Son of Man came not to be served but to serve…”  But what can I do with my gifts?
                    </p>

                    <br>
                    <p>Using very generous donations from St. Paul’s church members and others, <strong>SERVE</strong> is able to take those gifts, and create greater gifts in the greater Staunton area without taking anything from St. Paul’s annual budget.  Partnering with other organizations also multiplies the congregation’s donations, and allows creative planning and participation.</p>

                    <h5>SERVE feeds, working through ongoing, regular projects to feed those who are hungry.</h5>
                    <ul>
                        <li class="bulletList"><a href="https://trinitystaunton.org/ministries/feeding-the-hungry/">Trinity Episcopal Church</a></li>
                        <li class="bulletList"><a href="https://www.valleymission.net/">The Valley Mission</a></li>
                    </ul>
                    <h5>SERVE partners, working with community and United Methodist Church organizations to magnify their contributions.</h5>
                    <ul>
                        <li class="bulletList">“Stock the Pantry” via The Valley Community Services Board </li>
                        <li class="bulletList">“Stock the Pantry” via The New Directions Center</li>
                        <li class="bulletList"><a href="http://www.umcor.org/">UMCOR (United Methodist Committee on Relief)</a></li>
                    </ul>
                    <h5>SERVE pays it forward, working through unexpected, small gifts during routine chores.</h5>
                    <ul>
                        <li class="bulletList">“Loads of Love” at local coined operated laundries </li>
                    </ul>
                    <h5>SERVE tends to the aging, working to take affectionate care to less well-known facilities.</h5>
                    <ul>
                        <li class="bulletList"> Christmas at Ritenour Rest Home </li>
                    </ul>

                </div>
            </div>
        </div>



    </div>
</section>