.welcomeTitle {
    position: relative;
    display: inline-block;
    margin-bottom: 0.75em;
}
.welcomeTitle:after, .quote-row .source:after {
    background-color: #f58905;
}
.welcomeTitle:after {
    content: " ";
    width: 60%;
    height: 2px;
    background-color: #ff0024;
    position: absolute;
    bottom: -1em;
    left: 20%;
}
.blue-outline-btn{
    border:2px solid #00c8e6; background-color: white; color:#1b1b1b
}

.darkbg {
    background-color: #f6f6f6;
}