<!--<section class="hero-area">
    <div class="hero-slides owl-carousel">

        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/startNativity.jpg);">
            <div class="container h-100">
                <div class="row h-75 align-items-center">
                    <div class="col-12 col-lg-12">
                    
                        <div class="hero-slides-content text-center">
                        
                            <h2 style="font-size: 45px">Journey to Bethlehem</h2>
                            <h3>Online Narative</h3>
                            <h6 style="color:white">Did you miss the journey? Come join us anytime online for our nativity online narative.</h6>
                        </div>
                    </div>
                </div>
            </div>
        
            
            <div class="next-event-btn" style="top: 65%">
                <div class="container">
                
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="{{ url('/nativity') }}" class="btn faith-btn active" style="font-size:32px; color: black; background-color: #FFFFFF;">Start Journey</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>-->
<section class="hero-area">
    <div class="hero-slides owl-carousel">

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/bg-img/church.jpg);">
            <div class="container h-100">
                <div class="row h-75 align-items-center">
                    <div class="col-12 col-lg-12">
                        <!-- Slides Content -->
                        <div class="hero-slides-content">
                            <!--<h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>-->
                            <h2 data-animation="fadeInUp" data-delay="500ms" style="font-size: 45px">Welcome to St. Paul's United Methodist Church</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Button -->
            <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms" style="top: 75%">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="{{ url('/services') }}" class="btn faith-btn active">Sunday Worship: 10:00 AM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/bg-img/gloria.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">
                    <div class="col-12 col-lg-12">
                        <!-- Slides Content -->
                        <div class="hero-slides-content">
                            <!--<h6 class="date" data-animation="fadeInUp" data-delay="100ms">July 2018</h6>-->
                            <h3 data-animation="fadeInUp" data-delay="300ms">Every Sunday 10:00 AM</h3>
                            <h2 data-animation="fadeInUp" data-delay="500ms">Service available Online</h2>
                            <p data-animation="fadeInUp" data-delay="700ms">Service available online and in person</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Button -->
            <div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="https://www.facebook.com/stpaulsumcstaunton" class="btn faith-btn active">Sunday Worship: 10:00 AM</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/bg-img/view2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-12">
                        <!-- Slides Content -->
                        <div class="hero-slides-content">
                             <div class=clearfix><br><br><br><br><br><br><br><br>
                                <!--<h6 class="date" data-animation="fadeInUp" data-delay="100ms">October 4, 2020 @10 AM</h6>-->
                                <h2 data-animation="fadeInUp" >In-Person Worship</h2>
                                <h4 data-animation="fadeInUp" style="color:white">In-Person Worship Every Sunday @10 AM</h4>
                                <a data-animation="fadeInUp" href="{{ url('/services') }}" class="btn faith-btn active" data-delay="500ms" style="background-color: #00c8e6">Road To Re-Opening Information ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="faith-cta-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-text d-flex justify-content-between align-items-center">
                    <h5 style="color: red">In-Person Worship every Sunday @10 AM or online service @11 AM</h5>
                    <a href="{{ url('/services') }}" class="btn faith-btn">More Information</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->

<!-- ##### About Area Start ##### -->
<section class="faith-about-area section-padding-100-0" style="background-color: #f6f6f6;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content">
                    <!--<img src="../../assets/img/core-img/crossDark.png" alt="">-->
                    <h2 class="welcomeTitle">Christmas At St. Paul's United Methodist Church</h2>
                    <br><br>
                    <h6>Come celebrate the birth of Jesus Christ with us this winter. We have several fun, family events this December</h6>

                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card h-100">
                    <!--<img class="card-img-top" src="../../assets/img/walk.jpg" alt="Card image cap">-->
                    <div class="fb-video card-img-top"
                    data-href="https://www.facebook.com/video.php?v=426289478528084"
                    data-width=""
                    data-allowfullscreen="true"></div>
                    <div class="card-body">
                        <h5 class="card-title">Journey to Bethlehem</h5>
                        <p class="card-text"><strong>Online</strong></p>
                        <p class="card-text">If you didn't get a chance to join us for our in-person Journey To Bethlehem, don't worry! You can join us on our virtual trip.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="card h-100">
                    <div class="fb-video card-img-top"
                    data-href="https://www.facebook.com/video.php?v=207308514377633"
                    data-width=""
                    data-allowfullscreen="true"></div>
                    <!--<img class="card-img-top" src="../../assets/img/manger.png" alt="Card image cap">-->
                    <div class="card-body">
                        <h5 class="card-title">Christmas Eve Candlelight Worship</h5>
                        <p class="card-text"><strong>December 24, 2020 7pm</strong></p>
                        <p class="card-text">Come join us for an In-Person Christmas Eve Candlelight Worship. A service of lessons and carols</p>
                
                
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
<!-- ##### About Area Start ##### -->
<section class="faith-about-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-content">
                    <!--<img src="../../assets/img/core-img/crossDark.png" alt="">-->
                    <img src="../../assets/img/core-img/heartLogo500.png" alt="">
                    <h2 class="welcomeTitle">Welcome to St. Paul's United Methodist Church</h2>
                    <div class="clearfix"></div>
                    <br>
                    <h6>Here at St. Paul's we believe that Jesus makes a difference for all people! We want to help people worship God fully, connect with the community and serve the world!We exist to change lives by leading people to totally love God, love people, and love life as one church.</h6>
                    <div class="clearfix"></div>
                    <br>
                    <a  href="{{ url('/services') }}" class="btn faith-btn blue-outline-btn" style="margin-right:3px">LEARN MORE</a>
                    <a  href="{{ url('/staff') }}#ryan" class="btn faith-btn blue-outline-btn">MEET OUR PASTOR</a>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->

<!-- ##### Church Activities Area Start ##### -->
<section class="church-activities-area section-padding-100-0 darkbg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <h2 class="welcomeTitle">You're Invited To Join Us Online This Week</h2>
                    <div class="clearfix"></div>
                    <br><br>
                    <h6>Join us online each Sunday morning at 11:00, or worship with us at more convenient time by viewing our recorded sermons.</h6>
                    <br>
                    <a  href="https://www.facebook.com/stpaulsumcstaunton" class="btn faith-btn active"  style="border:2px solid #00c8e6; background-color: white; color:#1b1b1b">WATCH LIVE</a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="church-activities-area section-padding-100-0">
    <div class="container">

        <div class="row">
            <div class="col-12 col-lg-12">
                <!-- Latest Sermons -->
                <div class="latest-sermons mb-100">
                    <div class="headline">

                        <h2 class="">Latest Sermons</h2>
                        <hr style="background-color:#ff0024">
                    </div>
                    <div class="fb-video"
                    data-href="https://www.facebook.com/video.php?v=2888839811349661"
                    data-width="500"
                    data-allowfullscreen="true"></div>

                    <div class="row">
                        <div class="single-sermons col-lg-4 col-sm-12" *ngFor="let sermon of sermons">

                            <div class="sermons-audio-player d-flex align-items-center">
                                <div class="clearfix"></div>
                                <br>
                            </div>
                            <div class="sermons-content d-flex align-items-center">
                                <!-- Sermons Thumbnail -->
                                <!-- Sermons Content -->
                                <div class="sermons-text col-lg-10">
                                    <a href="https://www.facebook.com/stpaulsumcstaunton/videos/{{sermon.id}}/" target="_blank">
                                        <h6>{{sermon.title}} </h6>
                                       
                                    </a>
                                    <p [innerHTML]="sermon.description"></p>
                                    <p class="date">{{sermon.date}}</p>
                                </div>
                                <div class="col-lg-2">
                                    <a class="btn btn-info btn-sm" href="https://www.facebook.com/stpaulsumcstaunton/videos/{{sermon.id}}/" target="_blank"> <i class="fa fa-play pull-right"></i></a>
                                </div>
                                
                            </div>
                        </div>

                        <a  href="https://www.facebook.com/stpaulsumcstaunton/videos/?ref=page_internal" class="btn faith-btn blue-outline-btn">MORE...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ##### Donate Area Start ##### -->
<section class="donate-our-charities section-padding-100 bg-img bg-overlay" style="background-image: url(../../assets/img/bg-img/bg-3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white text-center mx-auto">
                    <img src="../../assets/img/core-img/cross.png" alt="">
                    <h3>Ministries</h3>
                    <p>Participate in multiple ministries while visiting at St. Pauls</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="donate-slides owl-carousel">

                    <!-- Single Donate Slide Area -->
                    <div class="single-donate-slide">
                        <img src="../../assets/img/bg-img/donate1.jpg" alt="">
                        <!-- Donate Content -->
                        <div class="donate-content">
                            <h4>Sunday School</h4>
                            <p>For all age groups</p>
                        </div>
                        <div class="donate-btn text-center">
                            <a href="#" class="btn faith-btn active">Learn More</a>
                        </div>
                    </div>

                    <!-- Single Donate Slide Area -->
                    <div class="single-donate-slide">
                        <img src="../../assets/img/bg-img/donate2.jpg" alt="">
                        <!-- Donate Content -->
                        <div class="donate-content">
                            <h4>Mens's Ministry</h4>

                        </div>
                        <!-- Donate Button -->
                        <div class="donate-btn text-center">
                            <a href="#" class="btn faith-btn active">Learn More</a>
                        </div>
                    </div>

                    <!-- Single Donate Slide Area -->
                    <div class="single-donate-slide">
                        <img src="../../assets/img/bg-img/donate3.jpg" alt="">
                        <!-- Donate Content -->
                        <div class="donate-content">
                            <h4>Women's Minstry</h4>

                        </div>
                        <!-- Donate Button -->
                        <div class="donate-btn text-center">
                            <a href="#woman" class="btn faith-btn active">Learn More</a>
                        </div>
                    </div>

                    <!-- Single Donate Slide Area -->
                    <div class="single-donate-slide">
                        <img src="../../assets/img/bg-img/donate4.jpg" alt="">
                        <!-- Donate Content -->
                        <div class="donate-content">
                            <h4>Children's Ministry</h4>
                            <p>For all age groups</p>
                        </div>
                        <!-- Donate Button -->
                        <div class="donate-btn text-center">
                            <a href="#children" class="btn faith-btn active">Learn More</a>
                        </div>
                    </div>

                    <!-- Single Donate Slide Area -->
                    <div class="single-donate-slide">
                        <img src="../../assets/img/bg-img/donate1.jpg" alt="">
                        <!-- Donate Content -->
                        <div class="donate-content">
                            <h4>Youth Ministry</h4>
                            <p>Grades 6-12</p>
                        </div>
                        <!-- Donate Button -->
                        <div class="donate-btn text-center">
                            <a href="#" class="btn faith-btn active">Learn More</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>