<style>
    .bulletList {
        list-style: circle;
        padding: 5px;
        margin-left: 15px;
    }
</style>
<div class="breadcumb-area bg-img" style="background-image: url('../../assets/img/bg-img/church.jpg')">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-3 single-ministry mb-100">
                <img src="../../assets/img/baptism.png" alt="">
            </div>

            <div class="col-12 col-md-9 single-ministry mb-100">
                <h3>Making Disciples</h3>
                <p>
                    Our goal at St. Paul’s United Methodist Church is for every person to grow in a relationship with Jesus Christ!  We believe that God is always working in your life, pouring grace and love out for you even when you don’t know it’s there. It’s that same grace that pulls you deeper into love with Jesus and others. Sharing Faith Through Love is the only thing that matters. We, the people of God, are called to share our faith! We do it through love, because Jesus called us to love our neighbors, love our enemies, and build his ministry on love. If we do that we’re going to change our city, our county and our world!
                </p>
                <p>
                    We believe that you will grow closer to Jesus if you commit yourself to worship. When you open your head and heart to who God is and embrace the love that God has for you, you will grow closer to Christ. We believe that connecting with others is crucial for each of us. When we are connected to others within the life of the church our relationship with Jesus grows stronger because we have a sense of belonging and purpose. Finally we believe that we are called to serve the world. It’s through service that people’s lives our changed and faith is shared. Worship, Connect, Serve, are the ways we can share faith through love. We believe it’s the way we grow to be more like Jesus, which is growing in discipleship. If we commit to Worship God, Connect with our community and Serve the world more people will come to know and understand the love of Jesus!
                </p>
            </div>
        </div>



    </div>
</section>