<section class="faith-about-area section-padding-100-0" style="background-color: #f6f6f6;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="about-content">
                  <!--<img src="../../assets/img/core-img/crossDark.png" alt="">-->
                  <h2 class="welcomeTitle">Upcoming Events</h2>
                  <br><br>
                  <h6></h6>

              </div>
          </div>
        <div class="col-12">
          <div class="about-content">
            <!--<img src="../../assets/img/core-img/crossDark.png" alt="">-->
            <h6>Ukraine Support</h6>
            <p>If you feel led to help the Ukrainian people in this time of war with Russia, the United Methodist Committee on Relief (UMCOR) is an excellent way to do so. Follow the link for more details: <a target="_blank" href="https://umcmission.org/umcor/how-to-assist-the-ukrainian-people/">UMCOR</a></p>

          </div>
        </div>
          <div class="col-lg-6 col-sm-12" *ngFor="let event of events" style="margin-bottom:5px">
            <div class="card h-100">
                <img *ngIf="event.picture" class="card-img-top" [src]="event.picture" alt="Card image cap">
                <div class="fb-video card-img-top"
                *ngIf="event.embeded"
                [innerHtml]="event.embeded"
                ></div>
                <div class="card-body">
                    <!--<h5 class="card-title">{{event.name}}</h5>
                    <p class="card-text"><strong>{{formatDate(event.date)}} {{event.time}}</strong></p>-->
                    <!--<p class="card-text" *ngFor="let description of event.description" [innerHtml]="description"></p>-->
                    <div *ngFor="let description of event.description" [innerHtml]="description">

                    </div>


                </div>
            </div><!--https://drive.google.com/file/d/1LDo5JlQ-abRKuNVPlUdpm7a8uq8e72MF/view?usp=sharing-->
        </div>
        <!-- limit -->
<!--        <img class="" src="https://drive.google.com/thumbnail?id=1LDo5JlQ-abRKuNVPlUdpm7a8uq8e72MF&sz=w700-h500" alt="Card image cap">-->
        <!-- limit -->
      </div>
      <br>
  </div>
</section>
