<style>
    .bulletList {
        list-style: circle;
        padding: 5px;
        margin-left: 15px;
    }
</style>
<div class="breadcumb-area bg-img" style="background-image: url('../../assets/img/connect.jpeg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h2>Connect</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-12 single-ministry mb-100">
                <h3 class="text-center">WHAT IS CONNECT? </h3>
                <hr>
                <h4>CONNECT IS PRAYER</h4>
                <p>
                    praying for each other so that you may be healed.  The prayer of a righteous person is powerful and effective. .James 5:16  Our prayer team recognizes the needs of individuals for encouragement and healing. This is a safe place where people can find trusting relationships and receive heart-felt prayer with Our Father.
                </p>
                <h4>CONNECT IS LEARNING </h4>
                <p>Jesus said we were to teach people to obey what He commanded. (Matthew 28:20) Connect groups are discussion-led and centered around learning how apply to the Word of God in our daily lives.

                </p>
                <h4>CONNECT  is FELLOWSHIP</h4>
                <p>Therefore encourage one another and build one another up. 1 Thessalonians 5:11a.  We are about relationships and want to help you have a genuine connection with God and other people.  Fellowship activities are designed to help you meet new friends, get to know others, and build lifelong relationships with like-minded people. Connect has one simple fellowship purpose: to bring people together. We believe God created us to live in relationship with others and only then can we live the full life He intends for us.

                </p>
                <h4>CONNECT is CARING</h4>
                <p>God’s plan is that the whole body would build itself up and encourage each other in love.  Ephesians 4:16 Practical ways to care for each other:  providing meals, visitation in homes, hospitals and adult care facilities. Encouraging communication through: phone calls, flowers, and cards. </p>

            </div>
        </div>



    </div>
</section>