<div class="breadcumb-area bg-img" style="background-image: url('../../../assets/img/man-leader.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h2>Men's Ministry</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">

        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../../assets/img/unitedMen.png" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>United Methodist Men</h3>

                    <p>Guest speaker breakfast meeting on the third Saturday of the month at 8:00a.m in the Family Life Center.  All are welcome.</p>
                    <h5>Mission</h5>
                    <p>Our mission is to support spiritual growth among men, helping men to mature as disciples as they encourage spiritual formation in others.
                    </p>
                    <h5>Goal</h5>
                    <p>Our goal is to empower the ministry of Jesus Christ within our congregation and community.  Men lead others while modeling Jesus Christ in thoughts, words, and deeds.

                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../../assets/img/discussion.jpg" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Men's Discussion Group</h3>
                    <p>Meets the first Tuesday of each month at 8:00a.m. in the St. Paul’s Chapel. </p>

                    <br>
                    <p>Come and join us for a casual time of fellowship and informal discussion with other Christian men.  Enjoy coffee, juice and breakfast pastries during this brief time together.

                    </p>
                </div>
            </div>
        </div>

    </div>
</section>