<div class="breadcumb-area bg-img" style="background-image: url('../../assets/img/manger.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text text-center" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                    <h2>The Christmas Story</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="faith-about-area section-padding-100-0 darkbg">
    <div class="container">
        <div class="card mb-3 current-station" id="current">
            <img class="card-img-top" src="../../assets/img/{{current.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{current.title}}</h5>
              <p class="card-text" *ngFor="let description of current.description">{{description}}</p>
              <p class="card-text"><small class="text-muted">Station {{current.id}}</small></p>
              <a href="#" class="btn btn-primary" (click)="next()">Next Station</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-12"  *ngFor="let station of stations">
                <div class="card">
                    <img class="card-img-top" src="../../assets/img/{{station.image}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{station.title}}</h5>
                        <p class="card-text"><small class="text-muted">Station {{station.id}}</small><a (click)="setCurrent(station.id)" class="btn btn-primary pull-right">Open</a></p>
                
                    </div>
                </div>
            </div>
        </div>  
    </div>
  </section>

