<div class="breadcumb-area bg-img" style="background-image: url('../../assets/img/manger.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text text-center" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                    <h2>The Christmas Story</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<section class="faith-about-area section-padding-100-0 darkbg">-->
<!--    <div class="container">-->
<!--        <div class="card mb-3 current-station" id="">-->
<!--            -->
<!--                    <div class="card-body">-->
<!--                        <h5 class="card-title">Journey To Bethlehem.</h5>-->
<!--                        <p class="card-text">If you didn't get a chance to join us for our in-person Journey To Bethlehem, don't worry! You can join us on our virtual trip.</p>-->
<!--                    </div>-->
<!--                    <div class="fb-video"-->
<!--                    data-href="https://www.facebook.com/video.php?v=426289478528084"-->
<!--                    data-width=""-->
<!--                    data-allowfullscreen="true"></div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="faith-about-area section-padding-100-0 darkbg">
    <div class="container">
        <div class="card mb-3 current-station" id="current">
            <img *ngIf="! start" class="card-img-top" src="../../assets/img/welcome.jpg" alt="Card image cap">
            <img  *ngIf="start"class="card-img-top" src="../../assets/img/{{current.image}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{current.title}}</h5>
              <!--<a class="btn btn-primary pull-right" (click)="playAudio(current.audio)">playAudio &#x3e;</a>-->



            <div *ngIf="current.id === 1 && ! start">
                <p>Welcome to St. Paul's United Methodist Journey to Bethlehem. As you participate with us today, please enjoy our audio narrative. If joining us for the drive through narrative, we have provided slides for each station. Please enjoy!</p>
                <a class="btn  btn-lg btn-primary" (click)="start = true">Start Journey &#9658;</a>
            </div>
            <div *ngIf="start">
                <audio *ngIf="current.id === 1" controls id="{{current.id}}"><source src="../../assets/audio/Station 1.mp3" type="audio/mpeg">
                    <a href="../../assets/audio/Station 1.mp3">download the music</a>
                </audio>
                <audio *ngIf="current.id === 2" controls id="{{current.id}}"><source src="../../assets/audio/Station 2.mp3" type="audio/mpeg"></audio>
                <audio *ngIf="current.id === 3" controls id="{{current.id}}"><source src="../../assets/audio/Station 3.mp3" type="audio/mpeg"></audio>
                <audio *ngIf="current.id === 4" controls id="{{current.id}}"><source src="../../assets/audio/Station 4.mp3" type="audio/mpeg"></audio>
                <audio *ngIf="current.id === 5" controls id="{{current.id}}"><source src="../../assets/audio/Station 5.mp3" type="audio/mpeg"></audio>
                <audio *ngIf="current.id === 6" controls id="{{current.id}}"><source src="../../assets/audio/Station 6.mp3" type="audio/mpeg"></audio>

              <p class="card-text" *ngFor="let description of current.description">{{description}}</p>
              <p class="card-text"><small class="text-muted">Station {{current.id}} of {{stations.length}}</small></p>
              <a class="btn btn-primary pull-left" (click)="previous()" *ngIf="current.id != 1"> &#x3c; Previous Station</a>
              <a class="btn btn-primary pull-right" (click)="next()">Next Station &#x3e;</a>
            </div>
            </div>
        </div>
        <hr style="border: 1px solid red;">
        <div *ngIf="current.id == 7" class="row">
            <div class="col-sm-12">
                <h4>The Stations</h4>
            </div>

            <div class="col-lg-4 col-sm-12"  *ngFor="let station of stations" style="margin-top:5px;">
                <div class="card h-100">
                    <img class="card-img-top" src="../../assets/img/{{station.image}}" alt="Card image cap" style="height: 230px;">
                    <div class="card-body">
                        <h5 class="card-title">{{station.title}}</h5>
                        <p class="card-text"><small class="text-muted">Station {{station.id}}</small><a (click)="setCurrent(station.id)" class="btn btn-primary pull-right">Open</a></p>

                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
  </section>

