 <!-- ##### Breadcumb Area Start ##### -->
 <div class="breadcumb-area bg-img" style="background-image: url(../../assets/img/bg-img/bg-4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <!--<h5>Join one today</h5>
                    <h2>Ministries</h2>
                    <p>Cras iaculis eleifend arcu, non cursus sem. Morbi viverra varius nisl, ac varius mauris interdum sit amet. Aenean ac fermentum neque.</p>
                -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Ministries Area Start ##### -->
<section class="ministries-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="../../assets/img/core-img/cross.png" alt="">
                    <h3>The Ministries</h3>
                    <p>St Paul's offers various ministries to meet the needs of it's congregation and community</p>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Ministry Area -->
            <div class="col-12 col-md-6" id="woman">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/bg-img/m1.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Woman’s Ministry</h6>
                        <!--<span>8:00 pm @ Main hall</span>-->
                        <p>United Methodist Women shall be a community of women whose purpose is to know God and to experience freedom as whole persons through Jesus Christ; to develop a creative, supportive fellowship; and to expand concepts of mission through participation in the global ministries of the church.</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-md-6">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/bg-img/m2.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Pre-School</h6>
                        <!--<span>8:00 pm @ Main hall</span>-->
                        <p>
                            St. Paul’s Little People Preschool offers, 2 year olds, 3 year olds and Pre-K children, a loving Christian learning environment that will encourage a desire to learn. We provide a developmentally appropriate program to allow and encourage your child’s cognitive, emotional, language, motor and social development. We also encourage, support and include parents in this exciting stage of your child’s development.
                        </p>
                        <div class="ministry-btn">
                            <a href="{{ url('/ministries/preschool') }}" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Ministry Area -->
            <div class="col-12 col-sm-6 col-lg-4" id="children">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/school.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Children' Ministry</h6>
                        <span>10:00 am</span>
                        <p>We provide lessons and activities for children each Sunday</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/bg-img/m5.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Youth Ministry</h6>
                        <span>6:30 pm @ Family Life Center</span>
                        <p>Multiple opportunities for youth. St Paul's youth meet each Sunday night at 6:30 pm for atime of fellowship and worship</p>
                        <div class="ministry-btn">
                            <a href="{{ url('/ministries/youth') }}" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/bg-img/m4.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Family’s Ministry</h6>
                       <!-- <p>Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
                        <div class="ministry-btn">
                            <a href="#" class="btn faith-btn">See More</a>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/men.jpeg" alt="">
                    <div class="ministry-content">
                        <h6>Men’s Ministry</h6>
                        <span>United Methodist Men</span>
                        <p>Guest speaker breakfast meeting on the third Saturday of the month at 8:00a.m in the Family Life Center.  All are welcome.</p>
                        <p>Men's Discussion group meets the first Tuesday of each month at 8:00a.m. in the St. Paul’s Chapel. </p>
                        <div class="ministry-btn">
                            <a href="{{ url('/ministries/men') }}" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/serve.jpeg" alt="">
                    <div class="ministry-content">
                        <h6>Serve</h6>

                        <p><strong>SERVE</strong>ing at St. Paul’s is a way for both individuals and groups… teams, really… to plan, fund and work joyfully together to both take Christ’s love and care into our local community, and make the most of everyone’s giftsof time and treasure.  We hope to make God’s love and Christ’s passion obvious to others in ways that can be seen, felt, tasted, experienced and known through works.  We strive continually to live out the Scripture as found in Mark 10:45: “For the Son of Man came not to be served but to serve…”  But what can I do with my gifts?</p>
                        <div class="ministry-btn">
                            <a href="{{ url('/ministries/serve') }}" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-ministry mb-100">
                    <img src="../../assets/img/sunday_school.jpg" alt="">
                    <div class="ministry-content">
                        <h6>Sunday School</h6>
                        <p>St. Paul’s Offers a variety of opportunities for you to participate in a Sunday morning connect group.  We would love for you to come and join us and to even visit a couple of groups to see which one is right for you!

                        </p>

                        <div class="ministry-btn">
                            <a href="{{ url('/ministries/sunday_school') }}" class="btn faith-btn">See More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Ministries Area End ##### -->
