<div class="row " *ngIf="videos.length > 0">

  <div class="col-lg-4 col-sm-12" *ngFor="let video of videos">
    <iframe
    width="100%"
    height="315" [src]="video.link"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
  </div>

  <div class="col-lg-4 col-sm-12">
    <a href="https://www.youtube.com/channel/UCB35_BlFjZjtpzsvC11GmaA/videos" target="_blank" class="btn btn-lg btn-info more">More...</a>
  </div>

</div>

