<div class="breadcumb-area bg-img" style="background-image: url('../../../assets/img/school.jpg');">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h2>Little People Pre-School</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">

    <div class="row">
    <div class="col-12 col-md-4 single-ministry mb-100">
        <img src="../../../assets/img/school2.jpg" alt="">
    </div>
    <div class="col-12 col-md-8 single-ministry mb-100">
        <div class="ministry-content">
            <h3>Little People Pre-School</h3>

            <p>
                St. Paul’s Little People Preschool offers, 2 year olds, 3 year olds and Pre-K children, a loving Christian learning environment that will encourage a desire to learn. We provide a developmentally appropriate program to allow and encourage your child’s cognitive, emotional, language, motor and social development. We also encourage, support and include parents in this exciting stage of your child’s development.


            </p>
            <br>
            <h6>Angela Smith & Chris Lyle, Co-Directors</h6>
            <span><em><a href="mailto:stpaulslittlepeople@gmail.com" style="color:red">stpaulslittlepeople@gmail.com</a></em></span>
            <span><em>540-490-1343</em></span>
        </div>
    </div>
</div>

    </div>
</section>
