<div class="breadcumb-area bg-img" style="background-image: url(../../assets/img/ryan1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h2>Meet the Staff</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="../../assets/img/core-img/cross.png" alt="">
                    <h3>The Team</h3>
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let person of staff">

            <div class="col-12 col-md-4 single-ministry mb-100">
                <img [src]="person.picture" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>{{person.name}}</h3>
                    <span><em><a href="mailto:ryanoswald@vaumc.org">{{person.email}}</a></em></span>
                    <div [innerHtml]="person.description"></div>
                </div>
            </div>
        </div>
    </div>
</section>
