<div class="breadcumb-area bg-img" style="background-image: url(../../assets/img/ryan1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-6">
                <div class="breadcumb-text">
                    <h2>Meet the Staff</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto">
                    <img src="../../assets/img/core-img/cross.png" alt="">
                    <h3>The Team</h3>
                </div>
            </div>
        </div>

        <div class="row" id="ryan">

            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/oswalds.jpg" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Ryan Oswald</h3>
                    <span><em><a href="mailto:ryanoswald@vaumc.org">ryanoswald@vaumc.org</a></em></span>
                    <p>
                        Pastor Ryan was born and raised in Washington DC.  He is a lifelong avid Washington sports fan (Redskins, Capitals, Wizards, and Nationals), which means he ends most seasons hopeful that next year will finally be the year!
                        He studied Sociology and Anthropology at Towson University in Baltimore, Maryland where he graduated with a Bachelor of Science degree in 2001.  Since his choice of major guaranteed, he would be unemployed after college Ryan found employment in the fields of Law Enforcement, Private Security, and Private Investigations.
                    </p>
                    <p>
                        After a powerful conversion and call in 2004, Ryan became a member of Herndon United Methodist Church in Northern Virginia and entered seminary.  He graduated from The Wesley Theological Seminary in Washington D.C. with a Master of Divinity in 2012.  In 2018, Ryan was ordained as an elder by Bishop Sharma Lewis in the Virginia Conference of the United Methodist Church.
                    </p>
                    <p>
                        Ryan has served three churches before coming to Saint Paul’s.  Ryan was an associate pastor at Herndon United Methodist Church for two years, as well as an associate pastor at Fishersville United Methodist Church in Fisherville, Virginia for six.  For the past three years, Ryan has been the pastor at Mint Spring United Methodist Church.
                    </p>
                    <p>
                        Ryan loves Jesus and sharing the gospel.  He knows all about being the one sheep who was lost and then found by the Lord.  He is always on the lookout for other lost sheep to help bring back to God’s sheepfold.
                        <br>
                        Ryan has been married to the love of his life, Lou, for fifteen years.  They have five children (Aiden 11, Avery 8, Daylie 5, Davy 3, Naaman 1) and because that was still not enough are expecting their sixth in September.  The Oswalds are very excited about coming to Saint Paul’s and cannot wait to meet our new church family.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/ashlyn.png" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Ashlyn Hawley</h3>
                    <span><em><a href="mailto:stpaulumc2@gmail.com">stpaulumc2@gmail.com</a></em></span>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/chris.png" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Chris Lyle</h3>
                    <span><em><a href="mailto:lyle.chris@gmail.com">lyle.chris@gmail.com</a></em></span>
                    <p>
                        <strong>Coordinator of Children’s Ministries –</strong> Chris was a 5th grade teacher at Riverheads Elementary School for 8  years before she began working as an after school tutor so she could stay home with her children during the day. She graduated from VA Tech with a degree in Family & Childhood Development and is certified in Virginia to teach PreK – 5th grades.  Chris has been a Co- Director at St. Paul’s Little People Preschool since 2007.  She began serving as the Coordinator of Children’s Ministries in 2015.  Chris and her husband Bryan have three children.  She enjoys  reading and crafts.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/parker.jpg" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Parker Dell</h3>
                    <span><em><a href="mailto:parkerdell94@gmail.com">parkerdell94@gmail.com</a></em></span>
                    <p>
                        <strong>Coordinator of Youth Ministries – </strong>Parker, began working at St. Paul’s in 2019. For the previous three years, Parker volunteered as a youth assistant and Sunday School teacher for Christ UMCS.  He graduated from Bridgewater College with two degrees. One in computer science and one in business administration. Before switching to computer science Parker was an education major. Currently Parker is working on his Masters degree from Boston College. Parker also works as a software engineer. Parker enjoys working with kids, technology, dancing, hiking and reading. He has two cats, an orange tabby and a tuxedo cat.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/martha.png" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Martha Ramsey</h3>
                    <span><em><a href="mailto:musiclady58@gmail.com">musiclady58@gmail.com</a></em></span>
                    <p>
                        <strong>Director of Worship Arts and Music Ministries –</strong> Martha brings over 40 years of experience in the field of Church Music to St. Paul’s. She currently serves as our Organist and church accompanist and has also directed our handbell choirs for children, youth  and adults. Martha enjoys arranging, working with instrumental and vocal soloists and small ensembles, teaching private lessons (organ, piano and voice) and just simply praising and worshiping the Lord  through music! In a volunteer capacity, she is also the Director for “Celebration Choir” and loves working with this group who stretches her musically in many ways. Mother of two and grandmother of 5,  Martha and her husband James live in a beautiful mountain valley in Western Augusta County with their  two dogs Shelley and Dixie, a handful of sheep and a herd of black Angus cattle, and life is good!
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/missy.png" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Melissa Huffer</h3>
                    <span><em><a href="mailto:melissa.huffer@comcast.net">melissa.huffer@comcast.net</a></em></span>
                    <p>
                        <strong>Treasurer & Financial Secretary –</strong>“Missy” has been working in public accounting since 1989.  She has been a member of St. Paul’s since 2000 and has been employed as financial secretary at St. Paul’s since 2012 and she became treasurer in 2013.   Missy enjoys music, photography, art, running, hiking, outdoors and crafts. She and her husband have two children.


                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 single-ministry mb-100">
                <img src="../../assets/img/ken.png" alt="">
            </div>
            <div class="col-12 col-md-8 single-ministry mb-100">
                <div class="ministry-content">
                    <h3>Ken Nicholas</h3>
                    <span><em><a href="mailto:kdnicholas1955@gmail.com">kdnicholas1955@gmail.com</a></em></span>
                    <p>
                        <strong>Facilities Manager – </strong>kenKenny has been the facilities manager at St. Paul’s UMC since 2013 and he has been attending the church since 1973.  He retired from the Staunton City Fire Department after 22 years of service.  Kenny has experience working in the field of construction.  He also works as a funeral assistant at Coffman Funeral Home.   In his spare time, Kenny enjoys hunting and playing the guitar.  He is married to Linda Patrick, has a step-daughter, a son and three grandchildren.  He and his wife enjoy traveling throughout the east coast to display Linda’s artwork.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
